@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
.abc{width: 100%; min-width: 100px;
height: 100%; min-height: 100px;}
.razer{color: white;}
.heart{color: magenta;}
.mark{color: gray;}
.card-title{font-style: italic;}